body {
  margin: 0;
  padding: 0;
  background: url('../images/back2.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 600px;
  overflow: hidden;
  font-family: 'Nanum Gothic', sans-serif;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /*position: relative;*/
  top: 20px;
}

.button {
  border-width: 2px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  transition: transform 0.2s;
}

.button:active {
  transform: scale(0.95);
}

#subtitle-btn.on {
  background-color: lightcoral;
  color: white;
}

#convert-btn {
  width: 236px;
  height: 36px;
  bottom: 179px;
  position: absolute;
  background-color: #68D086;
  color: black;
}

#subtitle-btn {
  width: 90px;
  height: 37px;
  bottom: 125px;
  position: absolute;
  background-color: #e4f0d5;
  color: black;
}

#refresh {
  width: 80px;
  height: 80px;
  background: url('../images/change.png') no-repeat center center;
  background-size: cover;
  cursor: pointer;
  transition: transform 0.2s;
  transform: rotate(-40deg);
  position: absolute;
  bottom: 17px;
  filter: drop-shadow(4px 8px 1px rgba(0, 0, 0, 0.9));
}

#refresh:active {
  transform: scale(0.8);
}

#help-box {
  border-width: 2px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-align:center;
  font-family: 'Nanum Gothic', sans-serif;
  transition: transform 0.2s;
  width: 30px;
  height: 30px;
  position: absolute;
  top:210px;
  left: 50px;
  background-color: #a9c2ec;
  color: black;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.9));
}

#help-box:active {
  transform: scale(0.8);
}

/*#explain {*/
/*  border: 2px solid;*/
/*  border-radius: 10px;*/
/*  font-size: 18px;*/
/*  font-weight: bold;*/
/*  text-align:center;*/
/*  font-family: 'Nanum Gothic', sans-serif;*/
/*  width: 300px;*/
/*  height:200px;*/
/*  position: absolute;*/
/*  top:240px;*/
/*  left: 30px;*/
/*  align-items: center;*/
/*  background-color: white;*/
/*  color: black;*/
/*  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.9));*/
/*}*/



#explain {
  border: 2px solid;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  width: 280px;
  height: 150px;
  position: absolute;
  top: 250px;
  left: 25px;
  align-items: center;
  background-color: white;
  color: black;
  display: none;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.9));
  justify-content: center;
  padding: 10px;
  opacity: 0;
}

.toast-animation {
  animation: fadeInOut 4s ease-in-out;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}